<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre</title>
    <link rel="stylesheet" href="about.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="about.js"></script>
    <link
      rel="shortcut icon"
      href="../../assets/favicon.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <nav>
      <div class="navLogo">
        <a href="../../index.html"><img src="../../assets/logo.png" alt="logo" /></a>
      </div>
      <div>
        <ul class="navLinks">
          <li><a href="../../index.html">HOME</a></li>
          <li><a href="about.html">SOBRE</a></li>
          <li><a href="../Contact/contact.html">ENCONTRE</a></li>
        </ul>
      </div>
      <div class="hamburger" onclick="toggleMenu()">&#9776;</div>
      <div class="navRight">
        <div id="myOverlay" class="overlay">
          <span class="closebtn" onclick="closeSearch()" title="Close Overlay">
            ×
          </span>
          <div class="overlay-content">
            <form id="searchForm" action="../Search/search.html" method="get">
              <input
                class="overlay-content-btn"
                type="text"
                placeholder="Busque um filme..."
                id="searchInput"
                name="search"
              />
              <button type="submit">
                <i class="fa fa-search"></i>
              </button>
            </form>
          </div>
        </div>
        <div class="navSearch">
          <img
            onclick="openSearch()"
            src="../../assets/lupa.png"
            alt="pesquisa"
          />
        </div>
        <button id="favoritePage">
          <a id="favoritePage_ch" href="../Favorites/favorites.html"
            ><img src="../../assets/coracaoVazio.png" alt="Favoritos"
          /></a>
        </button>
        <div class="navLogin">
          <button type="button" id="loginButton">
            <a href="../Login/login.html">LOGIN</a>
          </button>
          <div id="usernameDisplay"></div>
          <button id="idlogoutButton">
            <img src="../../assets/sair.png" alt="sair" />
          </button>
        </div>
      </div>
    </nav>

    <main>
      <div class="mainBannerIntro">
        <div class="titleMainBanner">
          <h2>SOBRE</h2>
        </div>
      </div>
      <div class="mainAbout">
        <div class="mainAboutTitle">
          <h1>Informações</h1>
        </div>
        <div class="mainAboutInfos">
          <h2>
            Movflx é um site de filmes desenvolvido utilizando a API do TheMovieDB, oferecendo uma experiência completa para os amantes de cinema. Entre suas principais funcionalidades estão a exibição dos filmes mais buscados e bem avaliados do momento, pesquisa detalhada de títulos e informações completas, incluindo sinopse, pôster, nota, duração, ano de lançamento e a opção de favoritar filmes. O site também conta com um sistema de busca por gêneros e sistema de login e cadastro com autenticação JWT.
          </h2>
        </div>
      </div>
      <footer>
        <div class="footer">
          <div class="footerLogo">
            <a href="#"><img src="../../assets/logo.png" alt="logo" /></a>
          </div>
          <div class="footerLinks">
            <ul class="footerNav">
              <li><a href="../../index.html">HOME</a></li>
              <li><a href="#">AJUDA</a></li>
              <li><a href="../Contact/contact.html">ENCONTRE</a></li>
            </ul>
          </div>
        </div>
        <div class="footerSection">
          <div class="footerLinksHelp">
            <ul class="footerInfo">
              <li><a href="#">FAQ</a></li>
              <li><a href="#">AJUDA</a></li>
              <li><a href="#">TERMOS</a></li>
              <li><a href="#">PRIVACIDADE</a></li>
            </ul>
          </div>
          <div class="footerSocial">
            <ul class="socialMedia">
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Whatsapp</a></li>
            </ul>
          </div>
        </div>
        <div class="copy">
          <h3>
            Copyright © 2024. Todos os direitos reservados para
            <a href="https://github.com/erikferreira1">Erik Ferreira</a>
          </h3>
        </div>
      </footer>
    </main>
  </body>
</html>
